@charset "UTF-8"

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #87b198;
}

.table {
  margin-top: 20px;
  width: 100%;
  text-align: left;
}

.table th,
.table td {
  border-top: 1px solid;
}

.danger {
  background-color: crimson;
  border: crimson;
  color: floralwhite;
}

input {
  display: block;
}

input[type=button] {
  background-color: aqua;
  border-color: aqua;
  margin-top: 10px;
}