<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <meta name="description" content="FORMULÁRIOS COM HTML, CSS & JS!">
    <meta name="keywords"
        content="HTML, CSS, FORMULÁRIOS, JavaScript, Playwright, Cypress, Robot, Codeceptjs, Appium, Selenium, Pactum, Postman">

    <script src="script/vue.js" type="text/javascript"> </script>


    <title>Pagina de testes</title>
</head>
<h1>Teste De Automação</h1>

<body>
    <div id="app">

        <div id="app">
            <form>
                <fieldset>
                    <legend><strong>Basic information:</strong></legend>
                    <label for="name">FirstName:
                        <input type="text" name="name" id="name" placeholder="Primeiro Nome" v-model="form.name"
                            required>

                        <label for="lastName">LastName:
                            <input class="lastname" type="text" name="lastName" id="lastName" placeholder="Ultimo Nome"
                                v-model="form.lastName" required>

                            <label for="password">Password:
                                <input class="Password" type="password" name="password" id="password"
                                    placeholder="Senha" v-model="form.password" required>

                                <label for="age">Age:
                                    <input class="Age" type="number" name="age" id="age" placeholder="Sua Idade"
                                        v-model="form.age" required>

                                    <label for="birth">Date of Birth:
                                        <input type="date" name="birth" id="birth" placeholder="Data de Nascimento"
                                            v-model="form.birth" required>
                                        <br><br>
                                        <label for="height">height:
                                            <input class="height" name="height" id="height" placeholder="Altura"
                                                v-model="form.height" required>

                                            <label for="Weight">Weight:
                                                <input class="Weight" name="Weight" id="Weight" placeholder="Peso"
                                                    v-model="form.Weight" required>

                                                <label for="blood">blood type:
                                                    <select id="blood" name="blood" placeholder="Tipo Sanguineo"
                                                        v-model="form.blood" required>
                                                        <option value="--Select-- selected">--Select--</option>
                                                        <option value="A+">A+</option>
                                                        <option value="A-">A-</option>
                                                        <option value="B+">B+</option>
                                                        <option value="B-">B-</option>
                                                        <option value="AB+">AB-</option>
                                                        <option value="O+">O`+</option>
                                                        <option value="O-">O-</option>
                                                    </select>

                                                    <label for="skin">Skin Collor:
                                                        <input name="skin" id="skin" placeholder="Cor da pele"
                                                            v-model="form.skin" required>


              
                                            <input type="button" value="Cadastrar"
                                                @click="adicionarFornecedor(fornecedor)">
                                                <input type="button" id="btnButton" onclick="location.href='https://roquespp.github.io/index/index';"
                                                value="Home Page">
                                        
                </fieldset>



            </form><br>

            <div>
                <!-- <table class="table"> -->


                <ul v-for=" fornecedor in fornecedores">

                    <li>{{fornecedor.name}}
                    <li>{{fornecedor.lastName}}

                    <li>{{fornecedor.password}}
                    <li>{{fornecedor.age}}
                    <li>{{fornecedor.birth}}
                    <li>{{fornecedor.height}}
                    <li>{{fornecedor.Weight}}
                    <li>{{fornecedor.blood}}
                    <li>{{fornecedor.skin}}
                        </fieldset>
                    <li>
                        <button class="danger" @click="apagarFornecedor(fornecedor)">Apagar</button>
            </div>
            <!-- </table> -->
        </div>

        <script>
            var app = new Vue({
                el: "#app",
                data: {
                    form: {


                    },

                    fornecedores: [


                    ]
                },

                methods: {
                    limparformulario: function () {

                    },
                    adicionarFornecedor: function () {
                        this.fornecedores.push(this.form)
                        this.limparformulario()
                    },

                    apagarFornecedor: function (fornecedor) {
                        var posicao = this.fornecedores.indexOf(fornecedor)
                        this.fornecedores.splice(posicao, 1)

                    }
                }

            })

        </script>



</body>

</html>